.App {
   
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

}

header {
    background-color: #f9cece;
    color: #111;
    height: 20rem;
}

Body {
    background-color: #f9cece;
    color: #111; 
    font-family: Roboto, serif;
    font-size: 20px;
    height: 60rem;

}
footer {
    height: 20rem;
}
section {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
 

IoIosPhonePortrait
IoMdMail
FaLinkedin {
    height: 25px ;
    width: 25px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}